@media (max-width: 1400px) {

    .card-body{
      font-size: 13px;
    }

    a{
        margin-top: 5px;
    }

    .btn-circle{
        height: 2rem !important;
        width: 2rem !important;
    }

    .table td, .table th{
        padding-top: 0 !important;
        padding-bottom: 4px !important;
    }
}